generatetoken/src/main/mule/generatetoken.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ba0840fc-c797-4775-88bf-cee3c6500f0e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="1e365542-112a-4b38-b85b-ea174a57bd4a" file="demo.properties" />
	<flow name="generatetokenFlow" doc:id="8d796c26-c554-4695-a008-674d948abb99" >
		<http:listener doc:name="Listener" doc:id="fc2c0d8a-0bad-4f05-8a5e-7c6126dfa2e4" config-ref="HTTP_Listener_config" path="/generateToken"/>
		<logger level="INFO" doc:name="Logger" doc:id="69cfa93b-18a2-4398-a61a-c292bbd4b8f9" message="generating jwt"/>
		<set-variable value="harikrishna547" doc:name="Set Variable" doc:id="543db131-9d07-4a01-a6dd-40a5cd6c64b6" variableName="userId"/>
		<ee:transform doc:name="Transform Message" doc:id="07697abd-cc53-4ac2-b140-ccdda5b36bf6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="userId" ><![CDATA[%dw 2.0
output application/java
---
vars.userId]]></ee:set-variable>
				<ee:set-variable variableName="days" ><![CDATA[%dw 2.0
output application/java
---
p('days')]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<java:invoke-static doc:name="Invoke static" doc:id="851aaac1-2f77-4e1b-93eb-03c5235fc3d7" class="com.java.muleinuse.AuthHelper" method="createJsonWebToken(String userId, Long durationdays)(createJsonWebToken(java.lang.String,java.lang.Long))">
			<java:args ><![CDATA[#[{
	arg0: vars.userId,
	arg1: vars.days
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="647a92e1-8f3b-45ca-a707-fba179919758" message="#[payload]"/>
	</flow>
</mule>
